node_modules
dist

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage
coverage.html
.cover*

# Editor and other tmp files
*.swp
*.un~
*.iml
*.ipr
*.iws
*.sublime-*
.idea/
*.DS_Store

# Coverage tools
lib-cov
coverage
coverage.html
.cover*
